// app global css in SCSS form

@import url('https://fonts.cdnfonts.com/css/blenda-script');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container {
  width: 90%;
}


// ------------------------------------------- TABLE
.q-table {

  position: relative;
  //margin-left: 15px;
  //border-left: 1px solid $grey-4  ;
  //border-right: 1px solid $grey-4  ;
  // -webkit-border-radius: 20px;
  // -moz-border-radius: 20px;
  // -ms-border-radius: 20px;
  // -o-border-radius: 20px;
}

.add-top-table {
  border-radius: 15px;
  // -webkit-border-radius: 15px;
  // -moz-border-radius: 15px;
  // -ms-border-radius: 15px;
  // -o-border-radius: 15px;
}

// STICKY COLUMNS
.q-table>thead>tr {
  position: sticky;
  top: 0;
  background-color: $accent;
  border-radius: 10px 10px 0px 0px;
  z-index: 1;
  color: $primary;

}

.q-table__middle {
  border-radius: 10px 10px 0 0 !important;
}

.left-menu-superadmin {
  color: $primary;
  background: white;
}

.menu-system {
  font-weight: 400;
  line-height: 19px;
  font-size: 11px !important;
}

.helvetica {
  font-family: 'Helvetica';
  font-style: normal;
}
.poppins {
  font-family: 'Poppins';
  font-style: normal;
}



.q-table>thead>tr>th {
  height: 50px;
  // border-top: 1px solid $grey-4  ;
  // color: $grey;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  border-color: white;


}

.q-table td {

  // border-color: white;
}



.q-table__control .q-btn--actionable .q-btn__content i {
  background-color: $primary;
  color: white;
  padding: 1px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

// TOP TABLE STYLE
.q-absolute_label.q-field--focused // on focused

>.q-field__inner>.q-field__control>.q-field__control-container>.q-field__label {
  top: 0;
  left: 10;
  background: white;
  z-index: 100;
  border-radius: 20px;
  padding-right: 2.5px;
  padding-left: 2.5px;
  tarnsform: translateY(-100%) scale(0.75);
}

.q-absolute_label.q-field--focused>.q-field__inner>.q-field__control>.q-field__control-container>.q-field__native {
  // input
  margin-bottom: 10px;
}


// ------------------------------------------- FORM
.s-card-content {
  border: 1px solid $grey-3;
}

.bg-warning-2 {
  background: rgba(239, 193, 19, 0.15);
}

.q-field--outlined .q-field__control {
  border-radius: 10px;
}

.square-input>.q-field--outlined .q-field__control {
  border-radius: 0px !important;
}

.q-field__label {
  color: #9E9E9E;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}

.q-card {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08), 0px 3px 3px rgba(0, 0, 0, 0.12);
}

.apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center {
  justify-content: end !important;
  align-items: center !important;
  padding-top: 20px !important;
}

.apexcharts-legend-marker {
  width: 19px !important;
  height: 19px !important;
  margin-right: 10px !important;
}

.left-menu-superadmin {
  color: white;
  background: $primary;

  // margin-left: 15px;
  // margin-right: 15px;
  // border-radius: 10px;

}

.s-menu-label {
  font-weight: 700;
  font-size: 12px;
  line-height: 160%;
}

.q-item__section--side>.q-icon {
  color: $primary;
}

.q-item__section--side .q-icon .left-menu-superadmin {
  color: white;
}

html body.desktop.no-touch.body--light div#q-app div.q-layout.q-layout--standard.helvetica div div div.q-drawer-container aside.q-drawer.q-drawer--left.q-drawer--bordered.q-drawer--standard.fixed.q-drawer--top-padding div.q-drawer__content.fit.scroll div div.q-list.text-grey.menu-system.s-menu-label div.q-item.q-item-type.row.no-wrap.q-item--active.left-menu-superadmin.q-item--clickable.q-link.cursor-pointer.q-focusable.q-hoverable div.q-item__section.column.q-item__section--side.justify-center.q-item__section--avatar i.q-icon.notranslate.material-icons {
  color: white;
}

html body.desktop.no-touch.body--light div#q-app div.q-layout.q-layout--standard.helvetica div div div.q-page-container form.q-form div div div.q-px-md.q-mt-sm.q-px-lg div.q-card.q-pa-lg div.q-mb-md.row.justify-between.items-center div div.row.q-gutter-x-sm div.q-toggle.cursor-pointer.no-outline.row.inline.no-wrap.items-center.reverse.q-mr-md div.q-toggle__label.q-anchor--skip {
  font-weight: 700;
  font-size: 12px;
  line-height: 160%;

  /* or 19px */
  text-align: center;

  /* Neutral/Neutral G-3 */
  color: #9E9E9E;
}


html body.desktop.no-touch.body--light div#q-app div.window-height.window-width.row div.col-md-5.col-12.row.justify-center.bg-info form.q-form.text-h6.col-12.items-center.row.justify-center.bg-info.q-py-xl.q-px-md.text-white div.col-12.justify-start.row div.col-12 label.q-field.row.no-wrap.items-start.q-field--outlined.q-input.col-12.square-input div.q-field__inner.relative-position.col.self-stretch div.q-field__control.relative-position.row.no-wrap.bg-white.text-info {
  border-radius: 5px;
}

.default-button {
  // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08), 0px 5px 5px rgba(0, 0, 0, 0.12);
  // border-radius: 12px;
}